@import 'https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap';

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html {
	font-size: 10px;
	font-family: 'Montserrat', sans-serif;
	scroll-behavior: smooth;
}
a {
	text-decoration: none;
}
.container {
	/* min-height: 100vh; */
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
img {
	height: 100%;
	width: 100%;
	object-fit: cover;
    
}
p {
	color: black;
	font-size: 1.4rem;
	margin-top: 5px;
	line-height: 2.5rem;
	font-weight: 300;
	letter-spacing: 0.05rem;
}
.section-title {
	font-size: 4rem;
	font-weight: 300;
	color: black;
	margin-bottom: 100px;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
	text-align: center;
}
.section-title span {
	color: crimson;
}

.cta {
	display: inline-block;
	padding: 10px 30px;
	color: white;
	background-color: transparent;
	border: 2px solid crimson;
	font-size: 2rem;
	text-transform: uppercase;
	letter-spacing: 0.1rem;
	margin-top: 30px;
	transition: 0.3s ease;
	transition-property: background-color, color;
}
.cta:hover {
	color: white;
	background-color: crimson;
}
.brand h1 {
	font-size: 3rem;
	text-transform: uppercase;
	color: white;
}
.brand h1 span {
	color: crimson;
}
/* .dark .dark\:bg-dark{
	--tw-bg-opacity: 1;
	background-color: rgb(17 23 34 / var(--tw-bg-opacity));
  } */

/* Header section */
#header {
	position: fixed;
	z-index: 1000;
	left: 0;
	top: 0;
	width: 100%;
	height: auto;
	background-color: rgb(41, 50, 60);	
	transition: 0.3s ease background-color;
	font-family: 'Arial', sans-serif;
  }
  
  /* #header.transparent {
	background-color: rgba(255, 255, 255, 0); /* Transparent background */
  /*} */
  
  .logo {
	width: 130px;
	height: 110px;
	/* Add any additional styles as needed */
  }
  
  #header .header {
	min-height: 8vh;
	transition: 0.3s ease background-color;
  }
  
  #header .nav-bar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	max-width: 1300px;
	padding: 15px;
  }

  #header .nav-list{
	display: flex;
	justify-content: space-around;
	width: 60%;
  }
  
  #header .nav-list  a {
	text-decoration: none;
	color: white;
	font-size: 1.5rem;
	font-weight: bold;
	    font-family: 'Montserrat', sans-serif;

  }

  #header.nav-list a:hover {
    color: #ffd700;
}
  
  #header .hamburger {
	display: none;
	flex-direction: column;
	cursor: pointer;
  }
  
  #header .bar {
	height: 5px;
	width: 30px;
	background-color: white;
	z-index: -1;
	margin: 6px 0;
  }
  

  @media screen and (max-width: 768px) {
    #header .nav-list {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: #333;
    }

    #header .nav-list a {
        padding: 15px;
        text-align: center;
        width: 100%;
        display: block;
    }

    #header .hamburger {
        display: flex;
    }
}

/* Existing CSS code */

/* Add the following styles for light and dark themes */

body.dark-theme {
    --tw-bg-opacity: 1;
	background-color: rgb(17 23 34 / var(--tw-bg-opacity));
    color: #fff;
}

body.light-theme {
    background-color: #fff;
    color: #333;
}

.theme-toggle {
    /* margin-left: auto; */
    padding-right: 20px;
	display: flex;
    align-items: center;
}

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
}

.mode-text {
	visibility: hidden;
    margin-left: 10px;
    font-size: 14px;
    color: #ccc; /* Color for the mode text */
}

input:checked + .slider + .mode-text {
    visibility: visible; /* Show the mode text when the toggle is checked */
}
/* End of new styles for light and dark themes */


  /* End Header section */
  

/* About Us Section */
#about-us {
	padding: 150px 0;
	position: relative;
	padding-bottom: 20px;
  }
  
  .about-us.container {
	display: flex;
	align-items: center;
	justify-content: space-between;
  }
  
  .about-us-img {
	padding: 10px;
	flex: 1;
	margin-right: 30px; /* Adjust the spacing between image and content */
	height: auto;
	position: relative;
  }
  .text-on-image {
	position: absolute;
	top: 40%; 
     left: 50%; 
     right: -32%; 
    text-align: justify;
	transform: translate(-50%, -50%);
	color: white; /* Optional: Set the text color */
	font-weight: bold; /* Optional: Set the font weight */
	font-size: medium;
	z-index: 1; /* Ensure the text is above the image */
  }

  .about-us-img img {
	padding: 10px;
	width: 102%;
	height: 600px;
	border-radius: 10px; /* Optional: Add rounded corners to the image */
  }
  
/* End about-us Section */

/* Our Values Section */
#mission {
	padding: 10px 0;
	padding-bottom: 20px;
  }
  
  .mission {
	flex-direction: row; /* Default to row layout for desktop */
	text-align: center;
	max-width: 1500px;
	margin: 0 auto;
	/* padding: 10px 0; */
  }
  
  .vision-top {
	max-width: 700px;
	margin: 0 auto;
	/* padding: 10px; */
  }
  
  .vision-bottom {
	display: flex;
	align-items: center; /* Center vertically for both desktop and mobile */
	justify-content:center; /* Add space between mission and vision items */
	/* margin-top: 30px; */
	flex-wrap: wrap; /* Allow items to wrap to the next line if necessary */
  }
  
  .vision-item {
	flex-basis: calc(40% - 20px); /* Adjust the width to leave space between items */
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	padding: 30px;
	border-radius: 10px;
	background-image: url(./img/img-1.png);
	background-size: cover;
	margin: 10px 0; /* Adjust margin to create space between items */
	position: relative;
	z-index: 1;
	overflow: hidden;
  }
  
  .vision-item::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
	opacity: 0.9;
	z-index: -1;
  }
  
  .vision-bottom .icon {
	height: 80px;
	width: 80px;
	margin-bottom: 20px;
  }
  
  .vision-item h2 {
	font-size: 2rem;
	color: white;
	margin-bottom: 10px;
	font-weight: bold;
	text-transform: uppercase;
  }
  
  .vision-item p {
	color: white;
	text-align: left;
  }
  
  /* Media Query for Mobile View */
  @media (max-width: 1200px) {
	.vision-bottom {
	  flex-direction: column;
	}
  
	.vision-item {
	  flex-basis: 100%;
	  margin: 10px 0; /* Adjust margin for better spacing on mobile */
	}
  }
  
  @media (max-width: 1200px) {
.container{
	flex-direction: column;
}  
}
/* Projects section */
#projects{
	padding: 20px;
}
#projects .projects {
	flex-direction: column;
	max-width: 1200px;
	margin: 0 auto;
	padding: 50px 0;
}
#projects .projects-header h1 {
	margin-bottom: 50px;
}
#projects .all-projects {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
#projects .project-item {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 80%;
	margin: 20px auto;
	overflow: hidden;
	border-radius: 10px;
}
#projects .project-info {
	padding: 30px;
	flex-basis: 50%;
	height: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
	color: white;
}
#projects .project-info h1 {
	font-size: 4rem;
	font-weight: 500;
}
#projects .project-info h2 {
	font-size: 1.8rem;
	font-weight: 500;
	margin-top: 10px;
}
#projects .project-info p {
	color: white;
}
#projects .project-img {
	flex-basis: 50%;
	height: 300px;
	overflow: hidden;
	position: relative;
}
#projects .project-img:after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
	opacity: 0.7;
}
#projects .project-img img {
	transition: 0.3s ease transform;
}
#projects .project-item:hover .project-img img {
	transform: scale(1.1);
}
/* End Projects section */

/* Add this CSS to your style.css file or in a <style> tag in the head of your HTML document */

/* Team Section */

    /* padding: 80px 0; */
		/* --tw-bg-opacity: 1;
		background-color: rgb(17 23 34 / var(--tw-bg-opacity)); */
	  


.team {
    text-align: center;
	--tw-bg-opacity: 1;
		background-color: rgb(17 23 34 / var(--tw-bg-opacity));
}

.team h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
	color: white;
}

.team h2 {
    font-size: 1.8em;
    margin-bottom: 15px;
	color: chartreuse;
}

.team-member {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.team-img img {
    border-radius: 50%;
    width: 250px;
    height: 250px;
    object-fit: cover;
}

.team-info {
    margin-top: 20px;
}

.section-title {
    color: #333;
}

/* LinkedIn Profile Link */
.cta {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 15px;
    text-decoration: none;
    color: #fff;
    background-color: #0077b5;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.cta:hover {
    background-color: #005885;
}
/* End Team Section */

/* contact Section */

#contact .contact {
	flex-direction: column;
	max-width: 1200px;
	margin: 0 auto;
	width: 90%;
}
#contact .contact-items {
	/* max-width: 400px; */
	width: 100%;
	display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

}
#contact .contact-item {
	width: 80%;
	padding: 20px;
	text-align: center;
	border-radius: 10px;
	padding: 30px;
	margin: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	box-shadow: 0px 0px 18px 0 #0000002c;
	transition: 0.3s ease box-shadow;
	background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
    opacity: 0.9;
}

#contact .contact-item:hover {
	box-shadow: 0px 0px 5px 0 #0000002c;
}
#contact .icon {
	width: 70px;
	margin: 0 auto;
	margin-bottom: 10px;
}
#contact .contact-info h1 {
	font-size: 2.5rem;
	font-weight: bold;
	margin-bottom: 5px;
	color: white;
}
#contact .contact-info h2 {
	font-size: 1.3rem;
	line-height: 2rem;
	font-weight: 500;
	color: aqua;
}
/*End contact Section */

/* Footer */
#footer {
	background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
}
#footer .footer {
	min-height: 200px;
	flex-direction: column;
	padding-top: 50px;
	padding-bottom: 10px;
}
#footer h2 {
	color: white;
	font-weight: 500;
	font-size: 1.8rem;
	letter-spacing: 0.1rem;
	margin-top: 10px;
	margin-bottom: 10px;
}
#footer .social-icon {
	display: flex;
	margin-bottom: 30px;
}
#footer .social-item {
	height: 50px;
	width: 50px;
	margin: 0 5px;
}
#footer .social-item img {
	filter: grayscale(1);
	transition: 0.3s ease filter;
}
#footer .social-item:hover img {
	filter: grayscale(0);
}
#footer p {
	color: white;
	font-size: 1.3rem;
}
/* End Footer */

/* Keyframes */

@keyframes text_reveal_box {
	50% {
		width: 100%;
		left: 0;
	}
	100% {
		width: 0;
		left: 100%;
	}
}
@keyframes text_reveal {
	100% {
		color: white;
	}
}
@keyframes text_reveal_name {
	100% {
		color: crimson;
		font-weight: 500;
	}
}
/* End Keyframes */

/* Media Query For Tablet */
@media only screen and (min-width: 768px) {
	.cta {
		font-size: 2.5rem;
		padding: 20px 60px;
	}
	h1.section-title {
		font-size: 6rem;
	}

	

	/* mission Section */
	#mission .vision-bottom .vision-item {
		flex-basis: 45%;
		margin: 2.5%;
	}
	/* End mission Section */

	/* Project */
	#projects .project-item {
		flex-direction: row;
	}
	#projects .project-item:nth-child(even) {
		flex-direction: row-reverse;
	}
	#projects .project-item {
		height: 400px;
		margin: 0;
		width: 100%;
		border-radius: 0;
	}
	#projects .all-projects .project-info {
		height: 100%;
	}
	#projects .all-projects .project-img {
		height: 100%;
	}
	/* End Project */

	/* team */
	#team .team {
		flex-direction: row;
		/* padding: 100px 0; */
	}
	#team .col-left {
		width: 600px;
		height: 400px;
		padding-left: 60px;
	}
	#team .team .col-left .team-img::after {
		left: -45px;
		top: 34px;
		height: 98%;
		width: 98%;
		border: 10px solid crimson;
	}
	#team .col-right {
		text-align: left;
		padding: 30px;
	}
	#team .col-right h1 {
		text-align: left;
	}
	/* End team */

	/* contact  */
	#contact .contact {
		flex-direction: column;
		padding: 100px 0;
		align-items: center;
		justify-content: center;
		min-width: 20vh;
	}
	#contact .contact-items {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		margin: 0;
	}
	#contact .contact-item {
		width: 30%;
		margin: 0;
		flex-direction: row;
	}
	#contact .contact-item .icon {
		height: 100px;
		width: 100px;
	}
	#contact .contact-item .icon img {
		object-fit: contain;
	}
	#contact .contact-item .contact-info {
		width: 100%;
		text-align: left;
		padding-left: 20px;
	}
	/* End contact  */
}



	

	#mission .vision-bottom .vision-item {
		flex-basis: 22%;
		margin: 1.5%;
	}

